

.notification {
    background-color: #80808057;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.update {
    color: green;
    border: 2px solid green;
}

.error {
    color: red;
    border: 2px solid red;
}